.login-container {
    width: 800px;
    height: 500px;
    padding: 10px;
    /* margin-top: 200px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-container-left {
    height: 100%;
    width: 400px;
    /* border: 1px solid #ccc; */
    float: left;
}

.login-container-right {
    width: 400px;
    height: 100%;
    /* padding-top: 150px; */
    /* border: 1px solid #ccc; */
    float: right;
    /* margin-top: 150px; */
}