.table-context-body {
    height: 100%
}

.table-add-button {

    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
    /* margin-top: 5px; */
}

.table-body {
    width: 100%;
    padding: 8px;
    margin: auto;
    margin-top: 10px
}