.article-body {
  text-align: left;
  width: 100%;
  margin: auto;
  background-color: white;
}

.article-copyright-info {
  width: 100%;
  background-color: #ecf8ff;
  border-left: 5px solid #50bfff;
  color: #888;
  font-size: 15px;
  margin-top: 25px;
  height: 40px;
  display: flex;

  
}