.header-nav {
    height: 100%;
    background-color: white;

}

.logo {
    width: 120px;
    height: 100%;
    margin-left: 10px;
    float: left;
}

.nav-menu {
    font-size: 14px;
    color: #909399;

    padding: 0;

    float: left;


}

.search-box {
    float: right;
    width: 20%;
    /* margin: 10px 5px 10px 15px; */
}

.notice {
    float: right;
    width: 40px;
    height: 40px;
    /* margin: 15px 5px 5px 5px; */
}

.login-down {
    float: inline-end;
    width: 40px;
    height: 40px;
    /* margin: 15px 100px 5px 5px; */
}

.nav-menu-li {
    list-style-type: none;
    height: 100%;
    float: left;
    padding: 0 5px 0 5px;

}

a {
    text-decoration: none;
    color: #71777c;
    padding: 5px;
}